/* styles goes here */

.wrapper {
    margin: 0 auto;
    padding: 105px 57px;
    margin-top: 100px;
    width: 800px;
    height: 600px;
    background: url(../img/bg.png);
}

.container {
    width: 686px;
    height: 390px;
    background: #111A28;
    box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.85);
    border-radius: 10px;
}

.container__logo img {
    margin-left: 5px;
    margin-top: 20px;
} 

.flex__img {
    position: relative;
    width: max-content;
    margin: 0;
    margin-top: 60px;
    margin-left: 5px;
}

/* .img__slider {
    width:10000px;
    height:300px;
} */

/* .footer__black-b:hover, .footer__white-b:hover {
    opacity:.6;
} */

.img__slider img {
    position: absolute;
    top: 0;
}

.footer__black-b {
    margin-right: 10px;
    display:block;
    width: 10px;
    height:10px;
    cursor:pointer;
    background: #1F273F;
    border: 2px solid #7E838B;
    border-radius: 55px;
}

.footer__white-b {
    margin-right: 10px;
    display:block;
    width: 10px;
    height:10px;
    cursor:pointer;
    background: #FFFFFF;
    border-radius: 55px;
}

.footer__red-b {
    margin-right: 10px;
    display:block;
    width: 10px;
    height:10px;
    cursor:pointer;
    background: #ED3333;
    border-radius: 55px;
}

.footer__aquablue-b {
    display:block;
    width: 10px;
    height:10px;
    cursor:pointer;
    background: #29E3EA;
    border-radius: 55px;
}

.container__flex {
    display: inline-flex;
}

.flex__subtitle {
    margin: 0;
    width: 200px;
    margin-left: 81px;
    margin-top: 10px;
}
.subtitle__title {
    margin-top: 0;
}

.flex__subtitle p {
    margin-top: 0;
    font-family: Mukta;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #E1E1E1;
    opacity: 0.54;
}

.flex__subtitle h1 {
    margin-bottom: 0;
    width: 200px;
    height: 69px;
    font-family: Mukta;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.05em;
    color: #E1E1E1;
}

.subtitle__rating {
    margin-top: 18px;
    width: 60px;
    height: 12px;
    background: url(../img/star_white.png);
}

.subtitle__rating input[type="radio"] {
    display: none;
}

.subtitle__label {
    float: left;
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/star_yellow.png) no-repeat 50% 0;
    cursor: pointer;
}

.subtitle__rating .subtitle__label:hover, 
.subtitle__rating .subtitle__label:hover ~ .subtitle__label, 
.subtitle__rating input[type="radio"]:checked ~ .subtitle__label {
  background-position: 50% -25px;
}

.subtitle__select {
    margin: 0;
}

.subtitle__select select {
    margin-top: 25px;
    width: 70px;
    height: 32px;
    padding-left: 12px;
    background-color: #111A28;
    color: #E1E1E1;
    
}

.subtitle__button {
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Mukta';
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    background: #4C525A;
    border: 1px solid #FFFFFF;
    text-align: center;
    width: 200px;
    height: 40px;
}

.container__footer {
    display: inline-flex;
}

.container__footer {
    margin-left: 135px;
    margin-bottom: 20px;
    margin-top: 36px;
}